    ---
import "../styles/game.css"
import type {GameConfig} from "../utils/types.ts";

export interface Props {
    game: GameConfig
}
const { game } = Astro.props;

const author = game.author ?? "anonymous";
const title = game.name;
const desc = game.description ?? `Play ${title} at htl-stp.github.io/games`
---
<html lang="en">
<head>
    <meta charset="UTF-8" />

    <title>{title}</title>
    <meta name="description" content={desc}>

    <!-- OG -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={desc} />
    <meta
            property="og:image"
            content="https://avatars.githubusercontent.com/u/268969957?s=400&u=19bb1594ad97c9e3c133564d4c3a6e097661821c"
    />
    <meta property="og:url" content="https://htl-stp.github.io/games" />
    <meta property="og:type" content="website" />


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
            rel="stylesheet"
    />
</head>
<body>
<slot />
</body>
</html>